.comment-section {
    display: flex;
    flex-direction: column;

    gap: 2rem;
}

.dark .comment-list, .dark .post-comment {
    border-top: var(--neutral-700) solid 1px;
}

.light .comment-list, .light .post-comment {
    border-top: var(--neutral-400) solid 1px;
}

.comment-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.post-comment {
    display: flex;
    flex-direction: column;

    gap: 1rem;
}

.post-comment-form {
    display: flex;
    flex-direction: column;

    align-content: stretch;
    gap: 1rem;
}

.comment-editor-container {
    display: flex;
    flex-direction: column;
    height: 12rem;

    border-radius: 0.5rem;
}

.dark .comment-editor-container {
    border: 1px solid var(--neutral-700);
}
.light .comment-editor-container {
    border: 1px solid var(--neutral-300);
}

.tab-bar {
    height: 2rem;

    display: flex;
    flex-direction: row;
    align-content: stretch;

    padding: 0 0.5rem;
}

.tab-bar button {
    border-radius: 0;

    width: 5rem;
    border-width: 0 1px 0 1px;
    border-style: solid;
}
.dark .tab-bar button {
    border-color: var(--neutral-700);
    background-color: var(--neutral-800);
    color: var(--neutral-50);
}
.dark .tab-bar button:hover {
    background-color: var(--neutral-700);
}
.dark .tab-bar button.selected {
    background-color: var(--neutral-900) !important;
}
.light .tab-bar button  {
    border-color: var(--neutral-300);
    background-color: var(--neutral-200);
    color: black;
}
.light .tab-bar button:hover {
    background-color: var(--neutral-300);
}
.light .tab-bar button.selected {
    background-color: var(--neutral-100) !important;
}

.dark .tab-bar {
    border-bottom: 1px solid var(--neutral-700);
}
.light .tab-bar {
    border-bottom: 1px solid var(--neutral-300);
}

.comment-textarea {
    resize: none;

    outline: none;

    border-radius: 0 0 0.5rem 0.5rem;
    padding: 0.5rem;

    font-family: "Chivo Mono Variable", "Courier New", monospace;
    font-size: 0.8rem;

    flex-grow: 1;

    border: none;
}

.dark .comment-textarea {
    background-color: var(--neutral-900);
    color: var(--neutral-50);
}

.light .comment-textarea {
    background-color: var(--neutral-200);
    color: black;
}

.info-fields {
    display: grid;
    grid-template-columns: minmax(4rem, min-content) minmax(4rem, 10rem) 1fr;
    row-gap: 0.5rem;
    column-gap: 0.5rem;
}

.comment-section input {
    max-width: 10rem;
    height: 1.5rem;

    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;

    font-family: inherit;
}

.dark .comment-section input {
    background-color: var(--neutral-900);
    border: 1px solid var(--neutral-700);
    color: var(--neutral-50);
}
.light .comment-section input {
    background-color: var(--neutral-100);
    border: 1px solid var(--neutral-200);
    color: black;
}

.post-comment-form-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dark .post-comment-form-error {
    color: var(--error-400);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-actions {
    height: 2rem;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    align-items: stretch;
}

.comment-actions span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-actions button {
    border-radius: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;

    min-width: 5rem;

    background-color: var(--primary-500);
}

.dark .comment-actions button {
    color: var(--neutral-50);
}
.light .comment-actions button {
    color: black;
}

.comment-submit-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.comment-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

/* Also account for the "Comments" */
.comment-container:nth-child(n+3) {
    border-top: 1px solid var(--neutral-800);
}

.comment-header {
    display: flex;
    flex-direction: row;
}

.dark .comment-time {
    color: var(--neutral-400);
}
.light .comment-time {
    color: var(--neutral-600);
}

