.comment-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
}

/* Also account for the "Comments" */
.dark .comment-section .comment-container:nth-child(n+3) {
    border-top: 1px solid var(--neutral-800);
}
.light .comment-section .comment-container:nth-child(n+3) {
    border-top: 1px solid var(--neutral-300);
}


/* Also account for the "Comments" */
.dark .all-comment-list .comment-container:nth-child(n+2) {
    border-top: 1px solid var(--neutral-800);
}
.light .all-comment-list .comment-container:nth-child(n+2) {
    border-top: 1px solid var(--neutral-300);
}

.comment-header {
    display: flex;
    flex-direction: row;
}

.dark .comment-time {
    color: var(--neutral-400);
}
.light .comment-time {
    color: var(--neutral-600);
}

.delete-button {
    font-family: "Material Icons", "Comic Sans MS", serif;
    text-decoration: none;
    font-size: 1.1rem;
}

.dark .delete-button {
    color: var(--error-400);
}
.light .delete-button {
    color: var(--error-700);
}

.comment-bottom {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;
}

