.footnote-section {
    padding: 1rem 2rem;

    margin: 0;
}

.dark .footnote-section {
    border-top: var(--neutral-800) solid 1px;
}

.light .footnote-section {
    border-top: var(--neutral-200) solid 1px;
}

.footnote-entry {
    margin: 0;
}

.footnote-return {
    font-family: "Material Icons", "Comic Sans MS", serif;
    text-decoration: none;

    margin: 0.1rem;

    display: inline-block;
    vertical-align: middle;

    color: var(--neutral-500);
}

.footnote-return:hover {
    color: var(--primary-500);
}

