.link-list-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.link-list-container.invisible {
    display: none;
}

.link-list {
    padding-left: 1rem;
    margin: 0;
    list-style: none;
}

.link-list-item {
}

.collapse-button {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Material Icons", "Comic Sans MS", serif;
    background: none;
    font-size: 1rem;
    padding: 0;
    line-height: inherit;
    display: inline-block;
    vertical-align: -0.22em;
    color: var(--text-color);

    width: 1rem;
}
.link-list-marker {
    user-select: none;

    font-family: "Material Icons", "Comic Sans MS", serif;

    font-size: 0.5rem;
    padding: 0;
    line-height: inherit;
    display: inline-flex;
    justify-content: center;
    color: var(--text-color);

    width: 1rem;
}


