.parent-chain-display-container {
    flex-grow: 0;
    flex-shrink: 0;

    padding: 0.8rem;

    width: 100%;

    align-items: start;
}

.light .parent-chain-display-container {
    background: var(--neutral-200);
}
.dark .parent-chain-display-container {
    background: var(--neutral-800);
}

.parent-display {
}

.parent-display-slash {
    margin: 0 5px;

    font-family: Roboto, sans-serif;

    font-weight: bolder;
}
.light .parent-display-slash {
    color: var(--neutral-500)
}
.dark .parent-display-slash {
    color: var(--neutral-500)
}
