.page-sidebar {
    flex-grow: 0;
    flex-shrink: 0;

    padding: 1rem;

    width: calc(30 * 0.5rem);

    border-left: black solid 1px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.light .page-sidebar {
    border-left: var(--neutral-300) solid 1px;
}
.dark .page-sidebar {
    border-left: var(--neutral-700) solid 1px;
}

/*
* The minimum length of each line should be approximately 80 characters. As such, the sidebar will have to go when there
* is insufficient room.
* Thus the side bar will go away if it the screen is at most 110 characters wide.
* It does not seem possible to use calc in the media query, so the rem must be pre-calculated.
*/
@media (width <= 65rem) {
    .page-sidebar {
        display: none;
    }
}