.theme-toggle-track {
    position: relative;

    height: 2rem;
    width: 4rem;
    min-width: 4rem;

    border-radius: 999px;

    cursor: pointer;
    border: none;

    display: flex;
    align-items: center;

    justify-content: space-between;

    transition: background 0.3s;
}
.light .theme-toggle-track {
    background-color: var(--neutral-200);
    color: black;
}
.dark .theme-toggle-track {
    background-color: var(--neutral-800);
    color: var(--neutral-50);
}

.theme-toggle-icon {
    font-family: "Material Icons", "Comic Sans MS", serif;
    font-size: 1.4rem;

    pointer-events: none;
}

.theme-toggle-thumb {
    position: absolute;

    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;

    z-index: 1;
    left: 3px;

    transition: transform 0.3s;
}
.light .theme-toggle-thumb {
    background-color: var(--neutral-500);
}
.dark .theme-toggle-thumb {
    background-color: var(--neutral-700);
}


.theme-toggle-thumb.selected-light {
    transform: translateX(2rem);
}